{template "content","header"}

<link rel="stylesheet" type="text/css" href="{CSS_PATH}gzjz_css/aptitude.css">
<!-- 主要内容开始-->
{template "content","left"}
				<div class="contend-bottom-right">
					<div class="contend-bottom-title">公司简介</div>
					<ul class="yewubox">
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4401.jpg" alt="">
							<p>市政公用工程施工总承包特级资质</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4402.jpg" alt="">
							<p>营业执照</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4403.jpg" alt="">
							<p>施工总承包特级资质</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4404.jpg" alt="">
							<p>安全生产许可证</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4405.jpg" alt="">
							<p>境外经营资质</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4406.jpg" alt="">
							<p>房地产开发资质</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4407.jpg" alt="">
							<p>职业安全健康管理体系认证书</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4408.jpg" alt="">
							<p>环境管理体系认证书</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4409.jpg" alt="">
							<p>质量管理体系认证书</p>
						</li>
						<li class="yewu">
							<img src="{IMG_PATH}gzjz_img/4410.jpg" alt="">
							<p>城市园林绿化资质</p>
						</li>
						<div style="clear:both"></div>
						<div class="page">
							<span>共 10条信息 | 1 / 1 </span>
							<span>上一页</span>
							<span style="background:#999999;border:1px solid #cadcdc;color:white">1</span>
							&nbsp;Go:&nbsp;
							<input type="text" id="gos">
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>

{template "content","footer"}