
{template "content","header"}

<link rel="stylesheet" type="text/css" href="{CSS_PATH}gzjz_css/contact.css">
<link rel="stylesheet" type="text/css" href="{CSS_PATH}gzjz_css/left.css">
<!-- 主要内容开始-->
<div class="contendbox">
    <div class="contend">
        <div class="contend-top">
            <div class="contend-top-left">联系我们</div>
            <div class="contend-top-right">
                <span><img src="{IMG_PATH}gzjz_img/dwbz.png"> 当前位置:&nbsp;</span>
                <a href="">&nbsp;首页</a> &gt;
                &nbsp;联系我们
            </div>
        </div>
        <div class="contend-bottom">
            <ul class="contend-bottom-left">
                <li style="border-bottom:1px dashed #ccc" id="checked">&nbsp;·&nbsp;联系我们 <span>&gt;&gt;</span></li>
            </ul>
            <div class="contend-bottom-right">
                <div class="contend-bottom-title">联系我们</div>
                <div class="contend-bottom-contend">
                    <p>广州市建筑集团有限公司</p>
                    <p>地址：中国广州市广卫路4号</p>
                    <p>电话：020-83331899</p>
                    <p>传真：020-83322747</p>
                    <p>邮编：510030</p>
                </div>
            </div>
        </div>
    </div>
</div>

{template "content","footer"}