
{template "content","header"}

<link rel="stylesheet" type="text/css" href="{CSS_PATH}gzjz_css/list.css">
<!-- 主要内容开始-->

<!-- 主要内容开始-->
{template "content","left"}
            <div class="contend-bottom-right">
                <div class="contend-bottom-title">{$CATEGORYS[$catid][catname]}</div>
                <div class="up-down">
                    <p><strong class="up">上一篇</strong><a href="{$previous_page[url]}">：{$previous_page[title]}</a></p>
                    <p><strong class="up">下一篇</strong><a href="{$next_page[url]}">：{$next_page[title]}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



{template "content","footer"}